* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color:black;

    padding-top: 100px;
    
 }

 .navbar {
    height: 50px;
 }
 
 h1{
    color: goldenrod;
   margin: auto;
    
 }
 .arizonia-regular {
    font-family: "Arizonia", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .ligne-rouge {
    height: 1px; 
    background-color: red; 
    margin: 0; 
  }

  .formulaire{
   padding-top: 20px;
   margin: auto;;
   width: 50%;
  }

   .dropdown{
      
padding-top: 20px;
padding-left: 20px;
   }
   .dropdown-menu{
      background-color: rgb(43, 41, 41);
      
      
   }
  #catalogue {
   width: 70%;
   
  }

  /* .carte {
   width: auto;
  } */

.carte:hover{
   filter: opacity(1);
   transform: scale(1.3); z-index: +1; cursor: auto;;
  }

  .card-img-top:hover {
   transform: scale(1);cursor: pointer;
}
.card-title {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
}

.card {
   min-height: 300px; 
   
   
  
}





.detail .card-text {
   font-size: 20px; /* Taille de la police */
   color: white; /* Couleur du texte */
   margin-bottom: 10px; /* Espacement entre les paragraphes */
}

/* Style spécifique pour certains éléments */
#iddetail #auteur {
   font-weight: bold; /* Texte en gras */
   color: red; /* Couleur différente pour l'auteur */
}

#iddetail #prix {
   font-size: 30px; /* Texte plus grand pour le prix */
   color: white; /* Couleur rouge pour le prix */
   padding-top: 50px;
}
#btn-panier {
   border-radius: 10px;
   font-size: 20px;
   height: 60px;
   background-color: red;
   width: 200px;
   color: white;
   font-weight: bold;

}
#titre, #numero {
   display: inline-block;
   margin-right: 10px; /* Espacement entre les deux éléments */
}
#iddetail {
   padding-top: 20px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour les détails */
   border-radius: 8px;
}
.container{
   margin-top: 150px;
   
}
