* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color:black;

    padding-top: 100px;
 }

 .navbar {
    height: 50px;
 }
 
 h1{
    color: goldenrod;
   margin: auto;
    
 }
 .arizonia-regular {
    font-family: "Arizonia", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .ligne-rouge {
    height: 1px; 
    background-color: red; 
    margin: 0; 
  }

  .formulaire{
   padding-top: 20px;
   margin: auto;
   width: 50%;
  }


  #catalogue {
   width: 70%;
  }

  /* .carte {
   width: auto;
  } */

.carte:hover{
   filter: opacity(1);
   transform: scale(1.3); z-index: +1; cursor: auto;;
  }

  .card-img-top:hover {
   transform: scale(1);cursor: pointer;
}
.card-title {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
}

.card {
   min-height: 300px; 
}

